<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,500,500i,600,600i|Lora|Roboto" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/scrollnav@2/dist/jquery.scrollNav.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/basicscroll@2/dist/basicScroll.min.js"></script>
  </head>
  <body>
    <header id="logo">
      <h1>Sara Blaise Huddleston and Andy Rossmeissl wedding and honeymoon 2019</h1>
    </header>
    <header id="menu">&nbsp;</header>
    <main>
      <article>
      {{ content }}
      </article>
    </main>
    <script>
      $(document).ready(function () {
        $('article').scrollNav({
          showHeadline: false,
          onRender: function() {
            var nav = $('.scroll-nav')
            nav.addClass('hidden')
            $('header#menu').click(function() { nav.toggleClass('hidden') })
          }
        });

        $('.letter').click(function() {
          $(this).toggleClass('reveal');
        })

        basicScroll.create({
          elem: document.querySelector('header'),
          from: '0',
          to: '100px',
          props: {
            '--height': {
              from: '200px',
              to: '120px'
            },
            '--left': {
              from: '200px',
              to: '40px'
            }
          }
        }).start()
      });
    </script>
  </body>
</html>